h1{
 color: #cbcbca;
 text-align: center;
 font-family: segoe ui;
}

body{
 background-color:#161616;
 text-align: center;
}

#textocalc{
background-color:  #070707;
 border-color: #232421;
 padding-left: 20px;
 padding-right: 10px;
 /* filter: drop-shadow(10px 10px 10px #303952); */
 color: #ebebeb;
 height:40px;
 width: 250px;
 font-family: segoe ui;
 font-size: 20pt;
}

button{
background-color: #070707;
color: #ebebeb;
border-color: #232421;
font-weight : bold;
height:60px;
width:75px;
font-size: 20pt;
}

button:hover{
  color: #7b6014;
}